@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');
body{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    background-color: hsl(30, 38%, 92%);
    height: 100vh;
    
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 50%;
    border-radius: 10px;
}
.left-side{
    display: flex;
    background-position: center;
    background-size: cover;
    border-top-left-radius: 10px;
    flex-basis: 50%;
    border-bottom-left-radius: 10px;
    }
    img{
        max-width: 100%;
        border-bottom-left-radius: 10px;
        border-top-left-radius: 10px;
    }

.right-side{
   display: flex;
   flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px 0px 20px 20px;
    margin-left: 20px;
    flex-basis: inherit;
    flex-basis: 50%;
    position: relative;

}
.right-side .heading{
    text-transform: uppercase;
    font-weight: 200;
    letter-spacing: 10px;
    text-shadow: 1px 1px 3px lightgray;
}
.right-side p{
    font-size: 15px;
    letter-spacing: 1px;
    font-weight: 500;
    line-height: 30px;
    color: gray;
    font-family: 'Montserrat', sans-serif;
    text-shadow: 0px 1px 15px lightgrey;
}
.right-side h1{
    font-family: 'Fraunces', serif;
    font-weight: 500;
    font-size: 40px;
}
.price{
    color: hsl(158, 36%, 37%); 
    text-shadow: 1px 1px 2px hsl(158, 36%, 37%);;
}
.old-price{
    position: absolute;
        left: 220px;
        font-size: 16px;
        bottom: 82px;
        color: gray;
        text-decoration: line-through;
}
button{
    background-color:hsl(158, 36%, 37%);
    border: none;
    width: 68%;
    height: 50px;
    color: white;
    border-radius: 7px;
    font-size: 19px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}
button:hover{
    background-color: hsl(158, 50%, 24%);
    cursor: pointer;
}
